{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
  <h1>Images bookmarked</h1>
  <div id="image-list">
    {% for image in images %}
        <div class="image">
            <a href="{{ image.get_absolute_url }}">
              {% thumbnail image.image "300x300" crop="100%" as im %}
                <a href="{{ image.get_absolute_url }}">
                  <img src="{{ im.url }}">
                </a>
              {% endthumbnail %}
            </a>
            <div class="info">
              <a href="{{ image.get_absolute_url }}" class="title">
                {{ image.title }}
              </a>
            </div>
        </div>
    {% endfor %}
  </div>
{#    下面include里面的with后面的page=images,是传参，把参数page的值images传到pagination.html页面中去。#}
    {% include "images/image/pagination.html" with page=images %}
{% endblock %}